html,
body {
	background: #fefefe;
	color: #3a3a3a;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
}

h3 {
	font-size: 12rem;
}

h4 {
}
